.search-area {
    background: #efefef;
    padding: 10px 0;
}

    .search-area__input-wrapper {
        position: relative;
    }

        .search-area__input-wrapper__input {
            padding: 10px;
            border: 2px solid #ccc;
            background: #fff;
            margin-bottom: 5px;
            width: 100%;
            font-weight: bold;
        }

            /* To get rid of the Edge/IE clear cross in the input */
            .search-area__input-wrapper__input::-ms-clear {
                display:none; 
            }

        .search-area__input-wrapper__clear-button {    
            position: absolute;
            top: 2px;
            right: 2px;
            text-decoration: none;
            color: #000;
            height: 35px;
            width: 35px;
            line-height: 35px;
            text-align: center;
        }

    .search-area__autocomplete-results,
    .search-area__history {
        border: 2px solid #ccc;
        padding: 5px;
        margin-bottom: 5px;
        background: #fff;
        display: none;
    }

    .search-area__autocomplete-results--active {
        display: block;
    }

    .search-area__autocomplete-results__results-list,
    .search-area__history__list {
        list-style: none;
        padding: 10px;
        margin: 0;
    }

    .search-area__autocomplete-results__results-list__item {
        padding: 5px;
        transition: all .075s ease-in-out;
    }

        .search-area__autocomplete-results__results-list__item:hover,
        .search-area__autocomplete-results__results-list__item a:focus {
            cursor: pointer;
            background: #efefef;
            padding: 10px;
            outline: none;
        }

        .search-area__autocomplete-results__results-list__item a {
            color: #000;
            text-decoration: none;
            display: block;
        }

    .search-area__autocomplete-results__results-list__item__highlighted {
        font-weight: bold;
    }

    .search-area__history {
        display: block;
        padding: 10px 15px;
        border: none;
        background: none;
    }

        .search-area__history__clear-history {
            float: right;
            font-size: 12px;
            color: #000;
            margin-top: 4px;
        }

        .search-area__history__list {
            padding: 0;
        }

            .search-area__history__list__item {
                border-bottom: 1px solid #ccc;
                padding: 10px 0;
                overflow: hidden;
            }

                .search-area__history__list__item:first-child {
                    border-top: 1px solid #ccc;
                }

        .search-area__history__list__item__timestamp {
            float: right;
            color: #777;
            font-size: 12px;
            margin-top: 1px;
            line-height: 16px;
            margin-right: 20px;
        }

        .search-area__history__list__item__remove {
            float: right;
            text-decoration: none;
            color: #777;
            line-height: 18px;
        }

    @media screen and (max-width: 768px) {
        .search-area__autocomplete-results__results-list,
        .search-area__history__list {
            max-height: 200px;
            overflow-y: auto;
        }
    }